In [1]:
import pandas as pd
import numpy as np

import wrangle

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed? 


Anything else I should be aware of?

# Acquire

In [2]:
df = wrangle.pull_data()
df.shape

(847330, 11)

In [3]:
df.isnull().any()

Unnamed: 0    False
date          False
time          False
path           True
cohort_id     False
user_id       False
ip            False
name          False
start_date    False
end_date      False
program_id    False
dtype: bool

In [4]:
df[df.path.isnull()]

,Unnamed: 0,date,time,path,cohort_id,user_id,ip,name,start_date,end_date,program_id
478630,478630,2020-04-08,09:25:18,NaN,55.0,586,72.177.240.51,Curie,2020-02-03,2020-07-07,3

In [5]:
df = df.drop(df.index[478630])

In [6]:
df.isnull().any()

Unnamed: 0    False
date          False
time          False
path          False
cohort_id     False
user_id       False
ip            False
name          False
start_date    False
end_date      False
program_id    False
dtype: bool

In [7]:
df.head()

,Unnamed: 0,date,time,path,cohort_id,user_id,ip,name,start_date,end_date,program_id
0,0,2018-01-26,09:55:03,/,8.0,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1
1,1,2018-01-26,09:56:02,java-ii,8.0,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1
2,2,2018-01-26,09:56:05,java-ii/object-oriented-programming,8.0,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1
3,3,2018-01-26,09:56:06,slides/object_oriented_programming,8.0,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1
4,4,2018-01-26,09:56:24,javascript-i/conditionals,22.0,2,97.105.19.61,Teddy,2018-01-08,2018-05-17,2

In [8]:
df.program_id.value_counts()

2    713365
3    103411
1     30548
4         5
Name: program_id, dtype: int64

In [9]:
df[df.program_id == 4]

,Unnamed: 0,date,time,path,cohort_id,user_id,ip,name,start_date,end_date,program_id
30468,30468,2018-03-22,19:01:49,/,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30469,30469,2018-03-22,19:01:54,content/html-css,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30470,30470,2018-03-22,19:01:54,content/html-css/gitbook/images/favicon.ico,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30471,30471,2018-03-22,19:02:47,content/html-css,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30472,30472,2018-03-22,19:02:52,content/html-css/introduction.html,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4

In [10]:
df[df.user_id == 152]

,Unnamed: 0,date,time,path,cohort_id,user_id,ip,name,start_date,end_date,program_id
30468,30468,2018-03-22,19:01:49,/,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30469,30469,2018-03-22,19:01:54,content/html-css,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30470,30470,2018-03-22,19:01:54,content/html-css/gitbook/images/favicon.ico,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30471,30471,2018-03-22,19:02:47,content/html-css,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4
30472,30472,2018-03-22,19:02:52,content/html-css/introduction.html,9.0,152,207.68.209.17,Apollo,2015-03-30,2015-07-29,4

In [11]:
df[df.program_id == 3]

,Unnamed: 0,date,time,path,cohort_id,user_id,ip,name,start_date,end_date,program_id
300225,300225,2019-08-20,09:39:58,/,34.0,466,97.105.19.58,Bayes,2019-08-19,2020-01-30,3
300226,300226,2019-08-20,09:39:59,/,34.0,467,97.105.19.58,Bayes,2019-08-19,2020-01-30,3
300227,300227,2019-08-20,09:39:59,/,34.0,468,97.105.19.58,Bayes,2019-08-19,2020-01-30,3
300228,300228,2019-08-20,09:40:02,/,34.0,469,97.105.19.58,Bayes,2019-08-19,2020-01-30,3
300229,300229,2019-08-20,09:40:08,/,34.0,470,97.105.19.58,Bayes,2019-08-19,2020-01-30,3
...,...,...,...,...,...,...,...,...,...,...,...
847289,847289,2021-04-21,16:14:16,regression/project,133.0,841,99.162.244.233,Easley,2020-12-07,2021-06-08,3
847290,847290,2021-04-21,16:15:51,regression/project,133.0,841,99.162.244.233,Easley,2020-12-07,2021-06-08,3
847297,847297,2021-04-21,16:23:53,/,133.0,143,173.174.194.60,Easley,2020-12-07,2021-06-08,3
847298,847298,2021-04-21,16:23:57,clustering/project,133.0,841,99.162.244.233,Easley,2020-12-07,2021-06-08,3
847309,847309,2021-04-21,16:32:50,clustering/project,133.0,841,99.162.244.233,Easley,2020-12-07,2021-06-08,3

Program_ID are the different program types.  1 and 2 are Web Development and 3 is Data Science, but 4 seems to be an outlier only used by user 152

In [15]:
df.drop(columns= ['Unnamed:0'])

KeyError: "['Unnamed:0'] not found in axis"

# Prepare

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    900223 non-null  datetime64[ns]
 1   time    900223 non-null  object
 2   page    900222 non-null  object
 3   id      900223 non-null  int64
 4   cohort  847330 non-null  float64
 5   ip      900223 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 41.2+ MB

In [6]:
df.page.nunique()

2313

In [7]:
cohorts_per_page = df.groupby(['page'])['cohort'].agg(['count','nunique'])

In [8]:
cohorts_per_page['count'].max()

45854

In [9]:
cohorts_per_page[cohorts_per_page['count'] == 45854]

      count  nunique
page
/     45854       47

In [10]:
cohorts_per_page.sort_values('count', ascending=False).head(10)

                          count  nunique
page
/                         45854       47
javascript-i              18203       40
toc                       17591       40
search/search_index.json  17534       41
java-iii                  13166       38
html-css                  13127       40
java-ii                   12177       37
spring                    11883       39
jquery                    11041       38
mysql                     10611       38

## Seems as though Javascript-i is the most visited page per cohorts in the web dev program

In [11]:
(df.page == '/').all()

False

In [12]:
df.page[34].find('/')

-1

In [13]:
df.page[34]

'javascript-i'

In [14]:
if df.page[34].find('/') < 0:
    print('True')

True

In [16]:
lessons, non_lessons = wrangle.lesson_sep(df, 'page')

KeyError: '/'

In [17]:
for i in df.page[:10]:
    print(i)

/
java-ii
java-ii/object-oriented-programming
slides/object_oriented_programming
javascript-i/conditionals
javascript-i/loops
javascript-i/conditionals
javascript-i/functions
javascript-i/loops
javascript-i/functions